html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    background: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    filter: url(#grainy);
    opacity: 0.5;
    mix-blend-mode: multiply;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: baseline;
}

nav, .hero-container {
    position: relative;
    z-index: 1;
}

.left-nav, .right-nav {
    display: flex;
    align-items: baseline;
}

.left-nav .name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-right: 30px;
}

.left-nav a, .right-nav a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 400;
}

nav a i {
    font-size: 30px;
    color: #333;
    margin-left: 20px;
}

.hero-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0; 
    margin: 0; 
}

.hero-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin-left: 0; 
    padding-left: 0; 
    width: 100%; 
}

.hero-top h1 {
    font-size: 10vw;         
    font-weight: 300;
    letter-spacing: -1vw;
    margin: 0;
    width: 100%;               
    line-height: 1.1;
    white-space: nowrap;      
    text-align: left;          
    margin-left: -15px;        
}

.hero-bottom {
    display: flex;
    flex: 1;
    padding: 40px;
    margin-top: -150px; 
    margin-left: 10vw;
}

.about-left {
    max-width: 600px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    color: #333;
}
